.component{
  display: flex;
}

$colorBorders: #bab9b7;

.button-search{
  padding: 4px 5px;
  background-color: white;
  border: 1px solid $colorBorders;
  border-left: none;
  border-radius: 0;
}

.input-search{
  border: 1px solid $colorBorders;
  border-right: none;
  outline: none;
  padding: 2px;
  flex: 5 0 auto;
}
