<div class="component">
  <app-control-navigate></app-control-navigate>

  <input type="text" class="input-search" [(ngModel)]="text">

  <div class="btn btn-default button-search" (click)="search()">
    <i class="fa fa-search"></i>
  </div>
</div>
