@import '../../../styles';

.logo{
  height: 200px;
  margin-bottom: 5px;
}

.component{
  width: 300px;
  margin: 5px auto;
  position: relative;
}

.btn{
  border-radius: 0;

  &-left{
    border-right: 1px solid $colorBackground;
  }
  &-right{
    border-left: 1px solid $colorBackground;
  }
}


.right-area {
  position: absolute;
  left: 100%;
  padding-left: 40px;

  &__text{
    top: 38%;
    left: 15px;
    position: absolute;
    font-weight: bold;
  }
}
