<div class="component">
  <img src="/assets/logo.png" class="logo col-sm-12">
  <div>
    <button class="btn btn-default col-sm-6 btn-left" [disabled]="isSignIn" (click)="toggleSignIn()">Login</button>
    <button class="btn btn-default col-sm-6 btn-right" [disabled]="!isSignIn" (click)="toggleSignIn()">Sign up</button>
  </div>
  <div class="right-area">
    <span class='right-area__text'>OR</span>
    <app-authorization-social-networks></app-authorization-social-networks>
  </div>
  <app-form-login *ngIf="isSignIn"></app-form-login>
  <app-form-registration *ngIf="!isSignIn"></app-form-registration>
</div>

<app-modal-forgot-password></app-modal-forgot-password>
