<div class="error" *ngIf="error">{{error}}</div>
<input type="text" class="form-control line" [(ngModel)]="email" placeholder="Email address">
<input type="password" class="form-control line" [(ngModel)]="password" placeholder="Password">
<input type="password" class="form-control line" [(ngModel)]="passwordRepeat" placeholder="Re-type password">
<input type="date" class="form-control line" [(ngModel)]="birthday" placeholder="Date of birth">
<input type="text" class="form-control line" [(ngModel)]="name" placeholder="Name">
<label>
  <input type="checkbox" class="line checkbox-terms" [(ngModel)]="isAgreeTerms">
  <span class="agree-terms">I agree with <button class="btn btn-link link-terms">Terms and Conditions</button></span>
</label>
<button class="btn btn-default button-registration"
        (click)="registration()"
        [disabled]="isRegistrationWait">
  <i *ngIf="isRegistrationWait" class="fas fa-spinner fa-spin"></i>
  Get started
</button>
