@import "../../../styles";

.component{
  & .modal-content{
    width: 650px;
  }
}


.button-panel{
  float: right;

  & .btn{
    margin-left: 12px;
  }
}

.button-load-image{
  border: 1px solid $colorBorders;
  text-align: center;
  padding: 25px;
  cursor: pointer;

  &:hover{
    background-color: $colorPanelsHover;
  }

  &-text{
    margin-top: 7px;
  }
}

.image{
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  flex: 1 0 auto;
  background-color: $colorBackground;
}

.image-container{
  display: flex;
  flex-direction: column;
}

.close{
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: white;
  opacity: 1 !important;
  border-radius: 50%;

  &:hover{
    background-color: #c5c6c3;
  }
}
