<app-modal *ngIf="isOpen" [headerTitle]='"Create Playlist"' (closeEvent)="onClose()" [widthStyle]="'650px'">
  <div class="error" *ngIf="error">{{error}}</div>
  <div class="form-group">
    <label for="title">Name</label>
    <input type="text" class="form-control" id="title" [(ngModel)]="title" placeholder="New Playlist">
  </div>

  <div class="row">
    <div class="form-group col-sm-8">
      <label for="description">Description</label>
      <textarea rows="5" class="form-control" id="description" [(ngModel)]="description"></textarea>
    </div>

    <div class="form-group col-sm-4 image-container">
      <label>Image</label>
      <div (click)="loadImage()" class="button-load-image" *ngIf="!imagePath">
        <i class="fas fa-upload fa-3x"></i>
        <div class="button-create-text">Upload image</div>
      </div>
      <div (click)="loadImage()" class="image" #image [class.hide]="!imagePath">
        <div (click)="removeImage($event)" class="close"><i class="far fa-times-circle"></i></div>
      </div>
    </div>
  </div>

  <div class="form-group button-panel">
    <button type="submit" class="btn btn-default" (click)="onClose()">Cancel</button>
    <button type="submit" class="btn btn-default" (click)="create()">Create</button>
  </div>
</app-modal>
