<app-modal *ngIf="isOpen" [headerTitle]='"Forgot password?"' (closeEvent)="onClose()">
  <div class="error" *ngIf="error">{{error}}</div>
  <div>Enter your email and we'll send you a link you can use to set up a new password</div>
  <input type="email" class="form-control line" [(ngModel)]="email" placeholder="Email">
  <div class="row">
    <div class="col-xs-6 col-sm-6">
      <button class="btn btn-default" (click)="sendNewPassword()" [disabled]="isForgotWait">
        <i *ngIf="isForgotWait" class="fas fa-spinner fa-spin"></i>
        Ok
      </button>
    </div>
    <div class="col-xs-6 col-sm-6">
      <button class="btn btn-default" (click)="onClose()">Cancel</button>
    </div>
  </div>

</app-modal>
