<h2 class="header"><i class="fas fa-music fa-lg header-icon"></i> {{title}}</h2>
<div class="item"
     *ngFor="let item of artists; index as i"
     [routerLink]="['/player', { outlets: { content: ['genres', genre, 'artists', item.id]}}]"
>
  <table class="container">
    <tr>
      <td class="icon-line">
        <i class="fas fa-headphones fa-lg"></i>
      </td>
    </tr>
    <tr>
      <td>
        <div class="text-container">
          <span class="text">{{item.name}}</span>
        </div>
      </td>
    </tr>
  </table>
</div>
<h4 class="no-found" *ngIf="artists.length === 0">No artists found</h4>
