<span
  class='component'
  (click)='changeValue()'
>
  <span class='background' [class.active]='value'>
    <span class='point' [class.active]='value'></span>
  </span>
  <input type='checkbox' class='input'/>
</span>
