@import '../../../styles';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.body{
  flex: 1 0 auto;
  position: relative;
  display: flex;
}

.footer{
  clear: both;
  flex: 0 0 auto;
  border-top: 1px solid $colorBorders;
}

.top{
  border-bottom: 1px solid $colorBorders;
}

.left-area{
  max-width: 200px;
  min-width: 200px;
}

.center-content{
  flex: 1 0 auto;
}

.content{
  padding: 25px;
  overflow-y: auto;
  height: 100%;
}

.top-panel{
  padding: 15px;
  display: flex;
}

.search-form{
  width: 500px;
}

.user-bar{
  flex: 1 0 auto;
  text-align: right;
  padding-top: 3px;
}
