<div class="wrapper" (window:resize)="onResize()" #bodyDiv>
  <div class="body">
    <div class="left-area">
      <app-menu-left></app-menu-left>
    </div>

    <div class="center-content">
      <div class="top-panel" #topDiv>
        <app-form-search class="search-form"></app-form-search>
        <app-user-bar class="user-bar"></app-user-bar>
      </div>

      <div class="content" #contentDiv>
        <router-outlet name="content"></router-outlet>
      </div>

      <app-music-queue-window></app-music-queue-window>
    </div>
  </div>

  <div class="footer" #footerDiv>
    <app-music-control-bar></app-music-control-bar>
  </div>
</div>
<app-modal-create-playlist></app-modal-create-playlist>
<app-modal-confirm></app-modal-confirm>
