@import '../../../styles';

.component{
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  height: 100%;
  padding: 15px;
  background-color: $colorPanels;
  border-left: 1px solid $colorBorders;
}

.header{
  font-size: 17px;
  font-weight: bold;
}

.button-close{
  float: right;
  cursor: pointer;
}

.panel-buttons{
  float: right;
  padding: 0 5px;
}

.music-list{
  height: calc(100% - 55px);
}
