<div class="component" *ngIf="isOpen">
  <div>
    <span class="header">Play Queue</span>
    <i class="far fa-window-close button-close" (click)="closeWindow()"></i>
  </div>
  <div class="music-list">
    <app-music-list
      [items]="MusicIds"
      [titleItems]="MusicTitles"
      [selectedItem]="musicIdSelected"
      (changeSelectedEvent)="onChangeSelectedMusic($event)"
      (changeArrayEvent)="onChangeQueue($event)"></app-music-list>
  </div>
  <div class="row panel-buttons">
    <button class="btn btn-default" (click)="clear()">Clear</button>
  </div>
</div>
