@import '~ngx-toastr/toastr.css';
@import '~bootstrap-scss/functions';
@import '~bootstrap-scss/variables';
@import './variables';
@import '~bootstrap-scss/mixins';
@import '~ngx-toastr/toastr-bs4-alert';

.toast-success {
  /* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/solid/check.svg */
  background-image: url(svg-encode(
      svg-factory(
          theme-color-level('success', 4),
          '0 0 512 512',
          'M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'
      )
  ));
  color: theme-color-level('success', 4);
  background-color: theme-color-level('success', -1);
  border: 1px solid theme-color-level('success', -2);
}

.toast-error {
  /* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/solid/times-circle.svg */
  background-image: url(svg-encode(
      svg-factory(
          theme-color-level('danger', 4),
          '0 0 512 512',
          'M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'
      )
  ));
  color: theme-color-level('danger', 4);
  background-color: theme-color-level('danger', -1);
  border: 1px solid theme-color-level('danger', -2);
}

@import '~bootstrap-scss/bootstrap';


$colorBorders: #e5e4e2;
$colorBackground: #f6f5f3;
$colorPanels: #fff;
$colorPanelsHover: #fafafa;
$colorText: #222;


/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  background-color: $colorBackground;

  height: 100%;
  color: $colorText;
}

.panel{
  background-color: $colorPanels;
  padding: 25px;
}

.btn{
  &:focus{
    outline: none !important;
    box-shadow: none !important;
  }
}

.btn-default{
  &:enabled:hover{
    background-color: #c7c7c7;
  }
  &:active{
    background-color: #a1a1a1;
  }
}

.error{
  padding:15px;
  background-color:#da360c;
  color:#fff;
  margin-bottom: 15px;
}

.hide{
  display: none;
}

.no-select{
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.clear{
  clear: both;
}
