<div class="component">
  <div class="error" *ngIf="error">{{error}}</div>
  <button class="btn social-login-button facebook" type="submit" (click)="loginFacebook()">
    <i class="fab fa-facebook" aria-hidden="true"></i>
    <span>Log in with Facebook</span>
  </button>

  <button class="btn social-login-button twitter" type="submit" (click)="loginTwitter()">
    <i class="fab fa-twitter" aria-hidden="true"></i>
    <span>Log in with Twitter</span>
  </button>


  <button class="btn social-login-button google" type="submit" (click)="loginGoogle()">
    <i class="fab fa-google" aria-hidden="true"></i>
    <span>Log in with Google</span>
  </button>
</div>

