.social-login-button {
  margin-bottom: 10px;
  &.google,
  &.facebook,
  &.twitter {
    width: 192px;
    text-transform: none;
    color: #FFFFFF;
    font-size: 13px;
    cursor: pointer;

    md-icon {
      color: #FFFFFF;
      margin: 0 8px 0 0;
    }
  }

  &.google {
    background-color: #D73D32;
  }

  &.facebook {
    background-color: rgb(63, 92, 154);
  }

  &.twitter {
    background-color: #55ACEE;
  }

  & > span{
    margin-left: 5px;
  }
}

.component{
  padding: 10px;
}

.fas-loader{
  margin-right: 5px;
}
