<div>
  <h3>Locale files</h3>
  <div class="form-horizontal">
    <input class="form-control" [(ngModel)]="newSource" placeholder="path to music"/>
    <button class="btn btn-primary" (click)="addSource()">Add locale source</button>
  </div>
  <br>

  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let source of sources">
      {{source}}
      <button class="btn btn-default float-right" (click)="removeSource(source)">delete</button>
    </li>
  </ul>
</div>
