<div class="component">
  <div class="content">
    <div class="panel-info">
      <div class="line">
        <i class="far fa-money-bill-alt icons"></i>
        <span>100 Coin</span>
      </div>

      <div class="line">
        <img src="assets/pick.png" class="icons">
        <span>Mining</span>
        <app-miner-checkbox class="miner-checkbox"></app-miner-checkbox>
      </div>

      <div class="line clickable">
        <i class="fas fa-list-ol icons"></i>
        <span>Take a Survey</span>
      </div>

      <div class="line clickable">
        <i class="fas fa-gift icons"></i>
        <span>Purchase giftcard</span>
      </div>
    </div>

    <div class="line clickable" routerLink="/player">
      <i class="fas fa-music icons"></i>
      <span>Browse/Discover</span>
    </div>

    <div class="library">
      <div class="line label">YOUR LIBRARY</div>
      <div class="line clickable" [routerLink]="{ outlets: { content: ['music-all-aws']}}">Songs</div>
      <div class="line clickable" [routerLink]="{ outlets: { content: ['albums-all']}}">Albums</div>
      <div class="line clickable" [routerLink]="{ outlets: { content: ['artists-all']}}">Artists</div>
      <div class="line clickable" [routerLink]="{ outlets: { content: ['music-all-locale']}}">Local files</div>
    </div>

    <div class="playlist">
      <div class="line label">PLAYLISTS</div>
      <div class="line clickable" *ngFor="let playlist of playlists; index as i" [routerLink]="{ outlets: { content: ['playlist-music', playlist.id]}}">{{playlist.title}}</div>
    </div>
  </div>

  <div class="line clickable button-add-playlist" (click)="musicPlaylistService.openModalCreate()">
    <i class="fas fa-plus-circle icons"></i>
    <span>New playlist</span>
  </div>
</div>
