@import '../../../styles';

.component{
  background-color: $colorPanels;
  border-right: 1px solid $colorBorders;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.icons{
  width: 20px;
  text-align: center;
  margin-right: 5px;
}

.line{
  padding: 5px 15px;
}

.clickable{
  cursor: pointer;
  outline: none !important;
  @extend .no-select;

  &:hover{
    background-color: #eeeeee;
  }
}


.miner-checkbox{
  float: right;
}


.panel-info{
  border-bottom: 1px solid $colorBorders;
  padding-top: 5px;
}

.label, .button-add-playlist{
  border-top: 1px solid $colorBorders;
}

.content{
  flex: 1 0 auto;
}

.button-add-playlist{
  flex: 0 0 auto;
}
