<div class="error" *ngIf="error">{{error}}</div>
<input type="text" class="form-control line" [(ngModel)]="email" placeholder="Email address">
<input type="password" class="form-control line" [(ngModel)]="password" placeholder="Password">
<button class="btn btn-default line button-login"
        (click)="login()"
        [disabled]="isLoginWait">
  <i *ngIf="isLoginWait" class="fas fa-spinner fa-spin"></i>
  Login
</button>
<button class="btn btn-link" (click)="openModalForgotPassword()">Forgot Password?</button>
