@import '../../../styles';

.image-album{
  position: absolute;
  height:100%;
  width:100%;
  top: 0;
  left: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  &-container{
    text-align: center;
    border: 1px solid $colorBorders;
    background-color: $colorPanels;
    width: 120px;
    height: 100px;
    display: inline-block;
    float: left;
    position: relative;
    padding-top: 22px;
    margin-right: 25px;
  }
}


.header{
  margin-bottom: 25px;
}

.table{
  width: 100%;
}

.button-play{
  &:hover{
    background-color: #fff;
  }
}

.button{
  visibility: hidden;
  cursor: pointer;
  color: #7d7d7d;

  &:after{
    content: none !important;
  }
}

.item:hover .button{
  visibility: visible;
}

.item.active{
  background-color: #eaeaea;
}



.dropdown-item{
  position: relative;
  cursor: pointer;
}
.dropdown-item:hover > .submenu{
  display: block !important;
}
.submenu:hover{
  display: block !important;
}
.submenu{
  position: absolute;
  top: 0;
  right: 100%;
  display: none !important;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.icon-carret-left{
  position: absolute;
  left: 10px;
  top: 8px;
}
