<div class="header">
  <div class="image-album-container" #imageContainer>
    <div class="image-album"  #image></div>
    <i class="fas fa-music fa-3x"></i>
  </div>
  <h2 class="title">{{title}}</h2>
  <button class="btn btn-default"(click)="playAll()">Play</button>
  <div class="clear"></div>
</div>
<div>
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th>Title</th>
      <th>Artist</th>
      <th><i class="far fa-clock"></i></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of music; index as i" class="item" [class.active]="selectedMusicId === item.id">
      <td>
        <i class="far fa-{{selectedMusicId === item.id && isPlay ? 'stop' : 'play'}}-circle fa-lg button button-play"
           (click)="togglePlay(item)">
        </i>
      </td>
      <td>{{i + 1}}</td>
      <td>{{item.metaData.titleFull}}</td>
      <td>{{item.metaData.artist}}</td>
      <td>{{item.metaData.timePlay}}</td>
      <td ngbDropdown placement="left-top">
        <i class="fas fa-ellipsis-h button" ngbDropdownToggle></i>

        <div ngbDropdownMenu class="menu">
          <button class="dropdown-item" (click)="toggleQueue(item)">{{item.isExistInQueue ? 'Remove from Queue' : 'Add to Queue'}}</button>
          <button class="dropdown-item"
                  [routerLink]="['/player', { outlets: { content: ['genres', genre, 'artists', idArtist]}}]"
          >
            Go to Artist
          </button>
          <button class="dropdown-item" disabled>
            <i class="fas fa-caret-left icon-carret-left"></i>
            Add to Playlist
            <div class="submenu">
              <button class="dropdown-item" (click)="createPlaylist(item)">Create Playlist</button>
              <button class="dropdown-item"
                      *ngFor="let playlist of playlists"
                      (click)="addToPlaylist(playlist, item)"
              >
                Add to {{playlist.title}}
              </button>
            </div>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
