
<div class="btn btn-default button-navigate" (click)="routingService.goToPrevUrl()" [class.blue]="isCanPrev">
  <i class="fas fa-chevron-left"></i>
</div>

<div class="btn btn-default button-navigate" (click)="routingService.goToNextUrl()" [class.blue]="isCanNext">
  <i class="fas fa-chevron-right"></i>
</div>
