@import '../../../styles';

.header{
  margin-bottom: 25px;
}

.table{
  width: 100%;
}

.button-play{
  &:hover{
    background-color: #fff;
  }
}

.button{
  visibility: hidden;
  cursor: pointer;
  color: #7d7d7d;

  &:after{
    content: none !important;
  }
}

.item:hover .button{
  visibility: visible;
}

.item.active{
  background-color: #eaeaea;
}



.dropdown-item{
  position: relative;
  cursor: pointer;
}
.dropdown-item:hover > .submenu{
  display: block !important;
}
.submenu:hover{
  display: block !important;
}
.submenu{
  position: absolute;
  top: 0;
  right: 100%;
  display: none !important;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.icon-carret-left{
  position: absolute;
  left: 10px;
  top: 8px;
}

.pointer{
  cursor: pointer;
  @extend .no-select;
}

.titleTd{
  max-width: 400px
}
