<div class="header">
  <div class="image-album-container" #imageContainer>
    <div class="image-album" #image></div>
    <i class="fas fa-music fa-3x"></i>
  </div>
  <h2 class="title">{{title}}</h2>
  <div class="clear"></div>
  <div class="button-control-panel">
    <button class="btn btn-danger"(click)="deletePlaylist()">Delete playlist</button>
  </div>
</div>
<div *ngIf="playlist">
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th><i class="far fa-clock"></i></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of playlist.music; index as i" class="item" [class.active]="selectedMusicId === item.id">
      <td>
        <i class="far fa-{{selectedMusicId === item.id && isPlay ? 'stop' : 'play'}}-circle fa-lg button button-play"
           (click)="togglePlay(item)">
        </i>
      </td>
      <td>{{i + 1}}</td>
      <td>{{item.metaData.titleFull}}</td>
      <td>{{item.metaData.artist}}</td>
      <td>{{item.metaData.album}}</td>
      <td>{{item.metaData.timePlay}}</td>
      <td ngbDropdown placement="left-top">
        <i class="fas fa-ellipsis-h button" ngbDropdownToggle></i>

        <div ngbDropdownMenu class="menu">
          <button class="dropdown-item" (click)="toggleQueue(item)">{{item.isExistInQueue ? 'Remove from Queue' : 'Add to Queue'}}</button>
          <button class="dropdown-item"
                  *ngIf="!isLocale(item)"
                  [routerLink]="['/player', { outlets: { content: ['genres', item.metaData.genres[0], 'artists', item.idArtist]}}]"
          >
            Go to Artist
          </button>
          <button class="dropdown-item"
                  *ngIf="!isLocale(item)"
                  [routerLink]="['/player', { outlets: { content: ['genres', item.metaData.genres[0], 'artists', item.idArtist, 'albums', item.idAlbum]}}]"
          >
            Go to Album
          </button>
          <button class="dropdown-item" (click)="remove(item)">Remove from Playlist</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

