<app-modal *ngIf="isOpen" [headerTitle]='"Confirm"' (closeEvent)="onClose()">
  {{text}}

  <div class="form-group button-panel">
    <button type="submit" class="btn btn-default" (click)="onClose()">Cancel</button>
    <button type="submit" class="btn btn-default" (click)="ok()">Ok</button>
  </div>
</app-modal>
