<h2 class="header"><i class="fas fa-music fa-lg header-icon"></i> {{title}}</h2>
<div
  class="item"
  *ngFor="let item of albums; index as i"
  [routerLink]="['/player', { outlets: { content: ['genres', genre, 'artists', idArtist, 'albums', item.id]}}]"
>
  <table class="container">
    <tr>
      <td class="icon-line">
        <i class="fas fa-headphones fa-lg"></i>
      </td>
    </tr>
    <tr>
      <td>
        <div class="text-container">
          <span class="text">{{item.title}}</span>
        </div>
      </td>
    </tr>
  </table>
</div>
<h4 class="no-found" *ngIf="albums.length === 0">No Album found</h4>
