.component{
  position: relative;
}

.text{
  margin: 0 3px;
  font-size: 12px;
}

.icon{
  position: absolute;
  top:5px;
  left: 40%;
}
.wall{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}
