<div class="component">
  <span class="text">OFF</span>
  <app-checkbox-horizontal (changeEvent)="toggle()" [value]="isOnMining"></app-checkbox-horizontal>
  <span class="text">ON</span>
  <div class="wall" *ngIf="isProcessingMiner"></div>
  <i *ngIf="isProcessingMiner" class="fas fa-spinner fa-spin icon"></i>
</div>
