<h2>Browse by Genre</h2>
<div class="item"
     *ngFor="let item of items; index as i"
     [routerLink]="['/player', { outlets: { content: ['genres', item]}}]"
>
  <table class="container">
    <tr>
      <td class="icon-line">
        <i class="fas fa-music fa-lg icon"></i>
      </td>
    </tr>
    <tr>
      <td>
        <div class="text-container">
          <span class="text">{{item}}</span>
        </div>
      </td>
    </tr>
  </table>
</div>
