@import '../../../styles';

.item{
  overflow: hidden;
  text-align: center;
  background-color: $colorPanels;
  border: 1px solid $colorBorders;
  width: 150px;
  height: 120px;
  padding: 15px;
  margin: 0 10px 10px 0;
  font-size: 24px;
  display: inline-block;
  cursor: pointer;

  &:hover{
    background-color: $colorPanelsHover;
  }
}

.container{
  width:100%;
  height:100%;
}

.icon-line{
  height: 35px;
}

.text-container{
  height:100%;
  line-height: 50px;
}
.text{
  vertical-align: middle;
  line-height: 24px;
}

.header-icon{
  margin-right: 15px;
}
