.item{
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  display: block;
  margin-bottom: -1px;

  &-content{
    height: 100%;
    width: 100%;
    padding: 10px 15px;

    &:focus{
      outline: 0 !important;
    }

    &:hover > .button-toggle-menu{
      display: inline-block;
    }
  }

  &_active{
    background-color: #ddd;
  }
}

.list-container{
  height: 100%;
  overflow: auto;
}

.button-toggle-menu{
  display: none;
  cursor: pointer;
  float: right;
  opacity: 0.4;
}
