<div class="list-container">
  <div *ngFor="let item of items; index as i" class="item" [class.item_active]="item === selectedItem">
    <div [dragDropList]="[i, items]"
         tabindex="0"
         (click)="clickItem(item)"
         (onDrop)="onDrop($event)"
         class="item-content"
    >
      {{titleItems[i] || item}}
    </div>
  </div>
</div>
