<div class="modal " tabIndex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content" #modalContent>
      <div class="modal-header">
      <span class="modal-title">{{headerTitle}}</span>
      <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><ng-content></ng-content></p>
    </div>
  </div>
</div>
<div class="modal-backdrop fade in"></div>
