<div ngbDropdown placement="bottom-right" >
  <span *ngIf="user" class="container"  ngbDropdownToggle (click)="openModal()">
    <i class="fas fa-user"></i>
    {{user.fullName}}
  </span>

  <div ngbDropdownMenu class="menu">
    <button class="dropdown-item"><i class="fas fa-exchange-alt"></i>Transactions history</button>
    <button class="dropdown-item"><i class="fas fa-user"></i>Account details</button>
    <button class="dropdown-item" [routerLink]="['/player', { outlets: { content: ['settings']}}]"><i class="fas fa-cogs"></i>Settings</button>
    <button class="dropdown-item"><i class="fas fa-question-circle"></i>Contact us</button>
    <button class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt"></i>Sign out</button>
  </div>
</div>
