<div class="component">
  <div class="component-container">
    <img src="/assets/no-image.png" class="imgMusic no-select" #imgMusic/>
    <div class="containerControl">
      <div class="title-music">
        {{music ? music.metaData.titleFull : ''}}
        <i class="fas fa-list-ul button-toggle-queue" (click)="toggleQueueMusicWindow()"></i>
      </div>
      <div class="buttons">
        <i class="fas fa-random" [class.active]="isShuffle" (click)="toggleRandomPlay()"></i>

        <i class="fas fa-backward" (click)="prev()"></i>

        <i *ngIf="isPause" class="fas fa-play" (click)="togglePlayPause()"></i>
        <i *ngIf="!isPause" class="fas fa-stop" (click)="togglePlayPause()"></i>

        <i class="fas fa-forward" (click)="next()"></i>

        <i class="fas fa-redo-alt" [class.active]="isRepeat" (click)="toggleRepeat()"></i>
      </div>
      <audio controls="controls" #audioPlayer class="audioPlayer" (ended)="next()" (pause)="onPause()" (play)="onPlay()" controlsList="nodownload">
        Your browser does not support the audio element.
      </audio>
    </div>
  </div>
</div>
