@import '../../../styles';

.component{
  height: 110px;
  padding: 15px;
  background-color: $colorPanels;

  &-container{
    position: relative;
  }
}

.audioPlayer{
  width: 100%;
}

.imgMusic{
  float: left;
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.containerControl{
  position: absolute;
  left: 80px;
  width: calc(100% - 80px);
  padding: 0 10px;
}

.button-toggle-queue{
  float: right;
  cursor: pointer;
}

.buttons{
  text-align: center;

  & > i{
    margin: 0 5px;
  }
}

.title-music{
  padding-left: 9px;
}

.active{
  color: #0062cc;
}
